---
import Layout from '../components/Layout.astro';
import pdfFile from '../images/Preisliste-2024.pdf';
import '../styles/style.css';

---

<Layout title="Ornella estetica">
  <div>
    <div>
      <h1 class="spaceTop">
        Ästhetik & Wohlbefinden
      </h1>
      <p>
        Dein Kosmetikstudio in Hannover. Hier erwarten dich kompetente Hautberatung, ein entspanntes Ambiente und individuell abgestimmte Behandlungen für eine strahlend schöne Haut. Ich freue mich auf Deinen Besuch!
      </p>
    </div>
    <div>
      <h2 class="spaceTop">
        Anschrift & Kontakt
      </h2>
      <p>
        <a href="https://g.page/bellissima-cosmetics?share" target="_blank">
          Große Pfahlstraße 17 &middot; 30161 Hannover
        </a>
        <br />
        <a href="tel:+491724336545" target="_blank">
          0172 433 65 45
        </a>
        <br />
        <a href="mailto:ornellagalati@web.de" target="_blank">
          ornellagalati@web.de
        </a>
      </p>
    </div>
    <div>
      <h2 class="spaceTop">
        Preisliste
      </h2>
      <p>
        Zu meinem Repertoire gehören verschönernde Kosmetik und Verwöhnbehandlungen, die dich und deine Haut zum Strahlen bringen. Schau jetzt in die Preisliste!
      </p>
      <a href={pdfFile} download="Preisliste-Ornella-estetica.pdf">
        Preisliste herunterladen
      </a>
    </div>
    <div class="instagram">
      <a href="https://www.instagram.com/ornellaestetica_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Besuche mich auf Instagram! →</a>
    </div>
    
  </div>
</Layout>
