---
import Layout from '../components/Layout.astro';
import logo from '../images/logo.svg';
import pdfFile from '../images/Preisliste-2024.pdf';
import '../styles/style.css';

// Explizite Extraktion der Bild-URL
const logoSrc = logo.src;
---

<Layout title="Ornella estetica">
  <div>
    <img alt="logo" class="logo" src={logoSrc} />
    <div>
      <h1 class="spaceTop">
        Ästhetik & Wohlbefinden
      </h1>
      <p>
        Dein Kosmetikstudio in Hannover. Dich erwartet kompetente Hautberatung, entspanntes Ambiente und individuell abgestimmte Behandlungen für eine strahlend schöne Haut. Ich freue mich auf deinen Besuch!
      </p>
    </div>
    <div>
      <h2 class="spaceTop">
        Anschrift & Kontakt
      </h2>
      <p>
        <a href="https://g.page/bellissima-cosmetics?share" target="_blank">
          Große Pfahlstraße 17 &middot; 30161 Hannover
        </a>
        <br />
        <a href="tel:+491724336545" target="_blank">
          0172 433 65 45
        </a>
        <br />
        <a href="mailto:ornellagalati@web.de" target="_blank">
          ornellagalati@web.de
        </a>
      </p>
    </div>
    <div>
      <h2>
        Preisliste
      </h2>
      <p>
        Zu meinem Repertoire gehören verschönernde Kosmetik und Verwöhnbehandlungen, die dich und deine Haut zum Strahlen bringen. Schau jetzt in die Preisliste!
      </p>
      <a href={pdfFile} download="Preisliste-Ornella-estetica.pdf">
        Preisliste herunterladen
      </a>
    </div>
  </div>
</Layout>
